@page "/addWeather"
@rendermode InteractiveServer
@inject HttpClient Http
@inject NavigationManager Navigation

    <form Model="weather">
        <div class="form-group">
            <label for="name">Date</label>
            <InputDate id="name" class="form-control" @bind-Value="weather.Date" />
        </div>
        <div class="form-group">
            <label for="name">Location</label>
            <InputText id="name" class="form-control" @bind-Value="weather.Location" />
        </div>
        <div class="form-group">
            <label for="name">Temperature</label>
            <InputNumber id="name" class="form-control" @bind-Value="weather.TemperatureC" />
        </div>
        <div class="form-group">
            <label for="name">Summary</label>
            <InputText id="name" class="form-control" @bind-Value="weather.Summary" />
        </div>
    <button type="button" class="btn btn-primary" @onclick="HandleSubmit">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="NavigateBack">Cancel</button>
    </form>

@code {
    WeatherApp.Models.Weather? weather = new();

    private async Task HandleSubmit()
    {
        await Http.PostAsJsonAsync($"api/weather", weather);
    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("/weatherList");
    }
}