@page "/weather"
@using WeatherApp.Models
@rendermode InteractiveServer
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Open Weather API</h1>

<p>Hi, this is weather forecast from Open Weather API.</p>

<label>Latitude :</label>

<InputText type="text" @bind-Value="latitude"/>

<label>Longitude :</label>

<InputText type="text" @bind-Value="longitude"></InputText>

<button type="button" @onclick="GetWeather">Get Weather</button>

@if(weather != null)
{
<div>
  Weather: @weather.Weather.First().Main
</div>

<div>Country : @weather.Sys.Country</div>

<div>Wind Speed : @weather.Wind.Speed</div>

<div>Temperature : @weather.Main.Temp</div>
}

@code {
    string latitude { get; set; }
    string longitude { get; set; }

    WeatherResponse? weather;

    protected override async Task OnInitializedAsync()
    {
        latitude = "4.2105";
        longitude = "101.9758";
    }

    public async Task GetWeather()
    {
        weather = await Http.GetFromJsonAsync<WeatherResponse>($"api/weather/GetWeatherForeCastByLatitudeAndLongitude?latitude={latitude}&longitude={longitude}");
    }

}
